<section class="section-container overflow-y-hidden" id="testimonials">
  <div class="flex flex-col py-4 lg:py-8">
    <div class="flex flex-col gap-y-2 text-center max-w-3xl mx-auto capitalize">
      <span class="text-new-secondary font-medium text-base"><%= t("landing_page.testimonials.question") %></span>
      <span class="text-3xl font-semibold text-new-primary"><%= t("landing_page.testimonials.title") %></span>
      <span class="text-lg text-new-secondary-text mt-2 font-regular"><%= t("landing_page.testimonials.sub_text") %></span>
    </div>
    <div class="my-16 map-container flex justify-center items-center">
      <div class="relative flex justify-center items-center flex-col w-full">
        <div class="testimonial-container">
          <% t("landing_page.testimonials.items").each do |testimonial| %>
            <%= render partial: "landing_page/testimonials/user_card", locals: { testimonial: testimonial } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
