AUTENTICATION_KEY=
SENTRY_KEY=
SENDGRID_API_KEY=
HTTP_HOST=localhost:3000
RAILS_LOG_LEVEL=
REDIS_URL="redis://localhost:6379/0"
SIDEKIQ_VERBOSE="true"
SIDEKIQ_CONCURRENCY=2
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
