<div class="flex flex-row gap-x-4 lg:gap-x-8 xl:gap-x-12 border-b border-gray-100 py-4 divide-x divide-gray-100">
  <div class="flex flex-row items-start gap-x-2 pl-4">
    <div class="print:hidden"><i class="uc-icon text-2xl text-gray-400">&#xe8bb;</i></div>
    <div class="flex flex-col">
      <h2 class="text-base print:text-sm font-regular">Total hours</h2>
      <span class="font-semibold text-2xl print:text-lg text-primary print:text-gray-900">
        <%= minutes_to_float @summary.total_minutes %>
      </span>
      <div class="flex flex-row items-center gap-x-4 lg:gap-x-8 text-sm mt-4">
        <div class="flex flex-row justify-between items-center gap-x-1">
          <div class="rounded-md w-4 h-4 bg-purple-300 print:hidden"></div>
          <span class="text-gray-500 font-regular">Billable</span>
          <span class="text-gray-600 font-semibold"><%= minutes_to_float @summary.total_billable_minutes %></span>
        </div>
        <div class="flex flex-row justify-between items-center gap-x-1">
          <div class="rounded-md w-4 h-4 bg-gray-300 print:hidden"></div>
          <span class="text-gray-500 font-regular">Non-billable</span>
          <span class="text-gray-600 font-semibold"><%= minutes_to_float @summary.total_non_billable_minutes %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row items-start gap-x-2 pl-4">
    <div class="print:hidden"><i class="uc-icon text-2xl text-gray-400">&#xea95;</i></div>
    <div class="flex flex-col">
      <h2 class="text-base print:text-sm font-regular">Billable amount</h2>
      <div class="flex flex-row font-semibold items-end gap-x-1">
        <span class=" text-2xl print:text-lg text-primary print:text-gray-900">
          <%= @summary.total_billable_amount_nok %>
        </span>
        <span class="text-gray-400 ">NOK</span>
      </div>
    </div>
  </div>
</div>