<div class="text-center">
    <h1 class="text-5xl font-bold text-gray-800 m-2">404</h1>
    <h2 class="text-xl font-bold text-gray-800 mb-3"><%= t("error_page.not_found.title") %></h2>
    <p class="text-gray-600 font-semibold"><%= t("error_page.not_found.message") %></p>
    <p class="text-gray-500 py-2"><%= t("error_page.not_found.sub_message") %></p>
</div>
