@import "./unicons.css";
@import "./snackbar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .print-color-adjust {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #4b5563;
    --primary: #7e22ce;
    --primary-foreground: #ffffff;
    --secondary: #f3e8ff;
    --secondary-foreground: #7e22ce;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: #ffffff;
    --accent-foreground: #475569;
    --destructive: #fef2f2;
    --destructive-foreground: #dc2626;
    --warning: #fefce8;
    --warning-foreground: #ca8a04;
    --success: #f0fdf4;
    --success-foreground: #16a34a;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350 89% 60%;
    --destructive-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
    --success: 84 81% 44%;
    --success-foreground: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  * {
    /* @apply border-border; */
  }
  body {
    /* @apply bg-background text-foreground; */
    background: var(--background);
    color: var(--foreground);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer components {
  .dialog-backdrop {
    @apply z-50 overflow-y-auto overflow-x-hidden fixed bg-black inset-0 bg-opacity-70 flex flex-col justify-items-center items-center;
  }
  .dialog-content-base {
    @apply relative pb-8 w-full max-w-md h-auto mx-auto my-auto rounded-2xl bg-white;
  }
  .dialog-action-holder {
    @apply flex items-center justify-center flex-wrap gap-4;
  }
}
