.snackbar {
}

.snackbar__container {
  z-index: 999;
  border-radius: 0.875rem;
  position: fixed;
  margin-top: 1rem;
  width: 90%;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.snackbar__action {
  display: block;
}

.snackbar-primary {
  background: rgb(var(--background));
  color: rgb(var(--secondary-text));
  border: 1px solid rgb(var(--border));
}

.snackbar-primary .snackbar__action {
  color: rgb(var(--primary));
  font-weight: 600;
}

.snackbar-secondary {
  background: #18181b;
  color: #fafafa;
  border: 1px solid #27272a;
}

.snackbar-secondary .snackbar__action {
  color: #c0c4fb;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  .snackbar__container {
    margin-left: 0;
    margin-right: 0;
    width: 24rem;
    left: auto;
    right: 2rem;
    top: 5rem;
    bottom: auto;
    transform: translateX(0px);
  }
}

@keyframes notificationCountdown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
