<section>
  <div class="section-container flex justify-center flex-col-reverse lg:flex-row items-center py-16 gap-y-8 lg:py-20 gap-x-8">
    <div class="flex-1">
      <%= image_tag "workspace-administration-gray.svg", class: "rounded-md" %>
    </div>
    <div class="flex-1 flex flex-col gap-y-4 text-left justify-center capitalize">
      <span class="text-new-secondary font-medium text-base">How it works?</span>
      <span class="text-2xl lg:text-3xl font-semibold text-white">Get started</span>
      <span class="text-lg text-white mt-2 font-regular">In just a few steps, you're all set to manager your team's work time. Track all activities with our app in one convenient place.</span>
      <div class="mt-4 bg-new-primary shadow-sm p-4 rounded-md flex flex-col">
        <ul role="list">
          <% @getting_started_steps.each_with_index do |step, idx| %>
            <%= render partial: "landing_page/get_started/step", locals: { count: idx + 1, description: step, total_count: @getting_started_steps.size } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
