<li>
  <div class="relative pb-8">
    <%= content_tag(:span, "", class: class_names("absolute left-6 top-4 -ml-px h-full w-0.5", total_count - 1 == count ? "border-l-2 border-white border-dashed" : "bg-brown")) unless total_count == count %>
    <div class="relative flex gap-x-3 items-center">
      <div>
        <div class="h-12 w-12 rounded-full flex items-center justify-center bg-brown">
          <span class="text-base text-primary font-semibold"><%= count %></span>
        </div>
      </div>
      <div class="flex flex-col flex-1">
        <p class="text-sm font-regular text-white">
          <%= description %>
        </p>
      </div>
    </div>
  </div>
</li>
